<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for message in messages %}
    <div role="alert">
        {{message}}
        <button type="button" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1> Login</h1>
    <form method="POST">
        <label for="email">Email-address</label>
        <input 
        type="text"
        id = "email"
        name = "email"
        placeholder="enter email"
        >
        >
        <label for="password">Password</label>
        <input 
        type="password"
        id = "password"
        name = "password"
        placeholder="enter password"
        >
        <button type="submit">login</button>
    </form>
</body>
</html>